@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background: url("../img/bg2.png") no-repeat;
    background-position:top center;
    width:100% ;
    height: 1060px;
    position: relative;
}
            /*header menu*/
.menu {
    position: relative;
    margin: 0 auto;
    background-color: #07508f;
    width:100% ;
    max-width: 1920px;
    height: 36px;
}

.menu img{
    float: left;
    padding-right: 5px;
}

.menu li {
    float: right;/* Строчно-блочные элементы */
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
}

.menu a {
    display: block;
    padding: 8px 5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family:helvetica_neueregular,  Tahoma;
    line-height: 1.4;
    text-align: center;
}

.menu li:hover {
    background: #48a3d7; /* Цвет фона при наведении курсора мыши */
    height: 36px;
}

.menu li:nth-child(2){
    border-left:1px solid #ffffff ;
    height: 36px;
    width:140px;
    background: #48a3d7;
}

.menu li:nth-child(6){
    background: #48a3d7;
    height: 36px;
}
/* forma and background forma*/
.forma_centr{
    position: relative;
    background-color: rgba(12, 0, 8, 0.6);
    width: 560px;
    height: 610px;
    margin: 0 auto;
    margin-top:210px;
}

.form_header{
    position: relative;
    height: 60px;
    text-align:center ;
    width: 560px;
    margin: -10px 0 0 -10px;
    border-bottom:3px solid #fff;
    font-size: 24px;
    font-family:helvetica_neueregular,  Tahoma;
    color: #fff;

}

.form_header p{
    padding: 12px 0 0 40px;
}

 #facebook {
   float: left;
    height: 35px;
    margin: 30px 0 30px 150px;
    width: 290px;
    background: #344c88;
    color: #fff;
    font-size: 14px;
    font-family:helvetica_neueregular,  Tahoma;
    border-radius: 0.5em 0.5em 0.5em 0.5em ;
}

#facebook li {
    float: left; /* Строчно-блочные элементы */
    margin: 0;
    background: #344c88;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-family:helvetica_neueregular,  Tahoma;
    font-weight: 900;
    width: 210px;

}
#facebook li:first-child{
    border-right: 1px solid #4069d9;
    width:25px;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

}
#facebook strong{
    font-size: 16px;
    font-family:helvetica_neueregular,  Tahoma;
    font-weight: 900;
}

h1 {
    overflow: hidden;
    position: relative;
    margin: 5px 0 10px 150px;
    font-family:helvetica_neueregular,  Tahoma;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    width:290px ;
    color: white;
    color: #999999;

}
h1:before,
h1:after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    height: 1px;
    top: -7px;
    box-shadow: 0 0 1px rgb(255, 255, 255);
    border-bottom:1px solid #000000;
}
h1:before {
    left: -.5em;
    margin-left: -50%;
}
h1:after {
    left: .5em;
    margin-right: -50%;
}

p {
    margin-top: 0;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

label {
    width: 280px;
    display: inline-block;
    vertical-align: top;
    padding: -20px;
    color: #fff;
}

.chek {
    width: 390px;
    padding-left: 0;
    margin-top:20px ;
    font-size: 14px;
    font-family:helvetica_neueregular,  Tahoma;;
 }

.chek input{
    margin-top: -8px;
}

.sub{
    margin-left:195px;
}

input:focus {
    background: #eaeaea;
    border: 0.5px solid grey;
    box-shadow: 0 0 10px rgba(87, 159, 255, 1);
}

input {
    width: 280px;
    margin-left: 150px;
    vertical-align: top;
    margin-top: 20px;
    padding-left:10px ;
    height: 35px;
    font-size: 14px;
    font-family:helvetica_neueregular,  Tahoma;
    background: black;
    border: 0;

}

.input_hover{

    margin: 10px 0 0 150px ;

}

input[type=checkbox] {
    width: 10px;

}

input[type=submit] {
    width: 170px;
    padding: 8px;
    background: linear-gradient(to top, #2f7bc4, #4ba7d8);
    margin: 10px 0 0 210px;
    color: #fff;
    font-size: 14px;
    font-family:helvetica_neueregular,  Tahoma;
    border-radius: 0.5em;
}


input:focus {
    background: #1b5288;
}

 .footer_content{
    text-align: center;
    color:#fff;
    font-size: 11px;
     font-family:helvetica_neueregular,  Tahoma;
    margin: 20px 0 0 25px;
 }
