body
{
    font-size: 14px;
}

@font-face
{
    font-family: Tahoma;

    src: url('fonts/Tahoma.ttf');
}

.wrapper
{
    position: relative;
    top: 34px;

    width: 1214px;
    height: 1030px;
    margin: 0 auto;

    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
}

.main-menu
{
    position: absolute;
    top: -34px;

    width: 100%;
    height: 34px;

    background-color: #074f8f;
}

.main-menu:after
{
    display: table;
    clear: both;

    content: '';
}

.right-menu-item,
.left-menu-item
{
    float: right;
}

.right-menu-item li,
.left-menu-item li
{
    display: inline-block;

    margin-top: 10px;
}

.right-menu-item li a
{
    text-decoration: none;

    color: #feffff;
}

.left-menu-item li a
{
    padding: 10px 10px;

    text-decoration: none;

    color: #54a7e0;
}

.left-menu-item li a:hover
{
    padding: 10px 10px;

    color: #fff;
    background-color: #4eabda;
}

.left-menu-item li
{
    margin-right: 30px;
}

.right-menu-item li
{
    margin-right: 10px;
    margin-left: 10px;
}

.right-menu-item li a
{
    padding: 10px 10px;
}

.right-menu-item li a:hover
{
    padding: 10px 10px;

    background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
}

.left-menu-border:after
{
    position: absolute;

    display: block;

    width: 1px;
    height: 27px;
    margin-top: -21px;
    margin-left: 50px;
    padding-left: 10px;

    content: '';

    border-right: 1px solid #56a2dc;
}

.right-menu-flag:before
{
    position: absolute;
    bottom: 7px;

    display: block;

    width: 20px;
    height: 20px;
    margin-left: -27px;

    content: '';

    background-image: url('../img/flag.png');
    background-repeat: no-repeat;
}

.right-menu-item span
{
    text-decoration: underline;
}

.form form
{
    position: absolute;

    width: 560px;
    height: 613px;
    margin-top: 213px;
    margin-left: 353px;

    background-color: rgba(1, 1, 1, .6);
}

.form form .top-side-form p
{
    font-size: 24px;

    padding-top: 21px;
    padding-bottom: 22px;

    text-align: center;

    color: #fff;
    border-bottom: 2px solid #c7cdbf;
}

.form form .facebook-link p
{
    font-size: 24px;

    position: absolute;

    height: 15px;
    margin-top: 36px;
    margin-left: 115px;
    padding: 10px 20px 19px 12px;

    color: #fff;
    border: 1px solid #fff;
    border-color: transparent;
    border-radius: 5px;
    background-color: #364f8f;
    box-shadow: 0 -1px 0 1px #778ab5;
}

.form form .facebook-link a
{
    text-decoration: none;
}

.latter-f
{
    padding-left: 7px;
}

.latter-f:after
{
    position: absolute;
    bottom: -1px;
    left: 42px;

    display: block;

    width: 1px;
    min-height: 46px;

    content: '';

    border-right: 1px solid #1f3c76;
    box-shadow: 1px -1px 0 1px #556a9f;
}

.facebook-link-item
{
    padding-left: 25px;
}

.log_in_item,
.facebook_item
{
    font-weight: 700;
}

.log_in_item
{
    padding-left: 15px;
}

.facebook_item
{
    padding-right: 15px;
}

.ou_form_item p
{
    font-size: 20px;

    position: absolute;

    margin-top: 108px;
    margin-left: 272px;

    text-align: center;

    color: #999;
}

.ou_form_item p:before
{
    position: absolute;
    top: 11px;
    right: 37px;

    display: block;

    width: 148px;
    height: 1px;

    content: '';

    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 1px #666;
}

.ou_form_item p:after
{
    position: absolute;
    top: 11px;
    left: 37px;

    display: block;

    width: 148px;
    height: 1px;

    content: '';

    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 1px #666;
}

.row-input
{
    position: absolute;

    display: flex;
    flex-direction: column;

    margin-top: 155px;
    margin-left: 119px;
}

.form-input
{
    font-size: 14px;

    width: 315px;
    height: 34px;
    margin-bottom: 20px;
    padding-left: 18px;

    color: #ccc;
    border: none;
    border-bottom: 1px solid #484948;
    background-color: #100f0f;
}

.form-input:focus
{
    color: #fff;
    background-color: #1b5288;
    box-shadow: 1px 1px 10px 1px #4f8ab2,
    -1px -1px 10px 1px #4f8ab2;
}

.checkbox-form
{
    position: absolute;
    bottom: 94px;
    left: 116px;

    color: #ccc;
}

.checkbox-form label
{
    position: relative;
    bottom: 2px;
}

.account-button
{
    position: absolute;
    bottom: 50px;
    left: 210px;
}

.my_account
{
    width: 140px;
    height: 31px;

    cursor: pointer;

    color: #fff;
    border: 1px solid #5ba4df;
    border-radius: 2px;
    background: linear-gradient(to bottom, #51b0dc, #2e7ac4);
    box-shadow: inset 0 1px 0 1px #67c6e6;
}

.content
{
    position: absolute;
    bottom: 10px;
    left: 100px;

    text-align: center;

    color: #ccc;
}
